parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/
    excludes_analyse:
        - %currentWorkingDirectory%/scripts/
        - %currentWorkingDirectory%/vendor/
        - %currentWorkingDirectory%/tests/
